.project_type > h3 {
    padding: 20px 50px;
    border-radius: 10px;
    background-color: rgba(245, 245, 245, 0.932);
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.349);
}
a{
    text-decoration: none;
    font-style: italic;
}
@-webkit-keyframes a {
    from { opacity: 1.0; }
    to { opacity: 0.0; }
  }
  
  .waitingForConnection {
    -webkit-animation-name: blinker;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: cubic-bezier(.5, 0, 1, 1);
    -webkit-animation-duration: 1.7s;
  }
  