.project_type > h3 {
    padding: 20px 50px;
    border-radius: 10px;
    background-color: rgba(245, 245, 245, 0.932);
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.349);
}
a{
    text-decoration: none;
    font-style: italic;
}

.blink_me {
    animation: blinker 2s linear infinite;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0.5;
      color: red;
    }
    
  }