
  
  main {
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .glass {
    background: white;
    min-height: 80vh;
    width: 90%;
    background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.3)
    );
    border-radius: 2rem;
    z-index: 2;
    backdrop-filter: blur(2rem);
    display: flex;
  }
  .circle1,
  .circle2 {
    background: white;
    background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.3)
    );
    height: 20rem;
    width: 20rem;
    position: absolute;
    border-radius: 50%;
  }
  
  .circle1 {
    top: 15%;
    right: 1%;
  }
  .circle2 {
    bottom: 0.1%;
    left: 1%;
  }
  .dashboard {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.3)
    );
    border-radius: 2rem;
  }



  .profile{
    display: flex;
    justify-content: center;
    padding: 90px;
}

.profile__about{
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-left: 80px;
}
.about__note{
    word-wrap: normal;
    font-weight: normal;
    font-size:x-large;
}
.about__title{
    font-weight: bolder;
    font-size: xx-large;
    border-bottom: 1px solid black;
}
.profile__picture > img{
    width: 400px;
    height: 400px;
    border-radius: 50px;
}