.navbar {
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
    position: absolute;
    top:5%;
    left:7%;
    z-index: 5;

  }
  
  .menu-bars2 {
    margin-left: 2rem;
    font-size: 2rem;
    position: fixed;
    top:5%;
    padding:10px 10px 5px 10px;
    text-decoration: none;
    background: linear-gradient(
      to left top,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.5)
    );
    border-radius: 1rem;
    box-shadow: 6px 6px 20px rgba(94, 92, 92, 0.212);
    justify-content: space-between;
  }
  .menu-bars {
    margin-left: 2rem;
    font-size: 2rem;
    position: fixed;
    top:5%;
    text-decoration: none;
    background: linear-gradient(
      to left top,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.5)
    );
    border-radius: 1rem;
    box-shadow: 6px 6px 20px rgba(94, 92, 92, 0.212);
    justify-content: space-between;
  }
  .menu-bars > p{
    font-size: 1rem;
    padding: 5px 15px 5px 15px;
  }
  .menu-bars > p:hover{
    padding: 5px 15px 5px 15px;
    color: #1a83ff;
  }
  .nav-menu {
    background-color: rgb(255, 255, 255, 0.3);
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
    backdrop-filter: blur(2rem);
  }
  
  .nav-menu.active {
    left: 0;
    transition: 350ms;
    z-index: 5;
  
  }
  
  .nav-text {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
  }
  
  .nav-text a {
    text-decoration: none;
    color: #044f66;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
  }
  
  .nav-text a:hover {
    background-color: #1a83ff;
    color:white;
    font-weight: bolder;
  }
  
  .nav-menu-items {
    width: 100%;
  }
  
  .navbar-toggle {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
  }
  
  span {
    margin-left: 16px;
  }
  