.profile{
    display: flex;
    justify-content: center;
    padding: 90px;
}

.profile__about{
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-left: 80px;
}
.about__note{
    word-wrap: normal;
    font-weight: normal;
    font-size:x-large;
}
.about__title{
    font-weight: bolder;
    font-size: xx-large;
    border-bottom: 1px solid black;
}
.profile__picture > img{
    width: 400px;
    height: 400px;
}