.skill__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.skill__icon{
    width:100px;
    height:50px;
    padding: 90px;
    border: 1px solid white;
}

.skill:hover{
    border: 1px solid black;
}
.skills{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;

}
.skills > h1 {
    text-align: center;
}